
@import '../login/LoginPage.css';

.cadastro-sidebar {
    background-image: url('../../assets/backgrounds/bg1.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
