.recent-surveys-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0px 15px;
}

.recent-surveys-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    gap: 16px;

}

.recent-surveys-header h2 {
    font-size: var(--font-size-lg);
    font-weight: 800;
    color: var(--text-primary-lightmode);
}

.recent-surveys-header button {
    border: none;
    background: none;

    font-size: var(--font-size-md);

    font-weight: 500;

    background: var(--color-primary-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    cursor: pointer;
}

.recent-surveys-list {
    display: flex;
    gap: 12px;
    overflow-x: auto;
    padding: 15px 3px;
    

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    -webkit-overflow-scrolling: touch;
}

.recent-surveys-list::-webkit-scrollbar{
    display: none;
}