.create-survey-card {
    margin-inline: 5%;
    padding: 15px 9px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;

    border-radius: 20px;

    /* background: var(--color-primary-gradient); */
    background-image: url('../../../assets/backgrounds/bg1.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    cursor: pointer;

    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.create-survey-card-animation {
    max-width: 70%;
}

.create-survey-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.create-survey-content h2 {

    font-size: var(--font-size-lg);

    line-height: 1.2;

    font-weight: 700;

    color: white;
}

.create-survey-content p {

    font-size: var(--font-size-md);
    font-style: italic;

    color: rgba(255, 255, 255, 0.95);
}

@media (min-width: 1024px) {
    .create-survey-card {
        margin: 0;
        width: 100%;
        padding: 22px 22px;
        border-radius: 28px;
    }

    .create-survey-card-animation {
        max-width: 100%;
    }
}
