@import "./variables.css";
@import "./reset.css";

body {
    font-family: var(--font-family-primary);

    background-color: var(--background-lightmode);

    color: var(--text-primary-lightmode);

    min-height: 100vh;
}

button, 
a, 
input, 
select, 
textarea,
[role="button"] {
    -webkit-tap-highlight-color: transparent;
}

#root {
    min-height: 100vh;
}

img {
    max-width: 100%;
    display: block;
}

input,
textarea {
    outline: none;
}

button {
    transition: var(--transition-default);
}