:root {

    

    --color-primary: #FA8704;
    --color-primary-gradient: linear-gradient(to right, #E74031, #FA8704);

    --color-success: #43A047;
    --color-warning: #FBC02D;
    --color-danger: #D32F2F;
    --color-info: #29B6F6;

    

    --text-primary-lightmode: #0D0D0D;
    --text-secondary-lightmode: #757575;
    --text-disabled-lightmode: #BDBDBD;

    

    --background-lightmode: #F5F5F5;
    --surface-primary-lightmode: #ffffff;
    --surface-secondary-lightmode: #FAFAFA;
    --background-secondary-button-lightmode: #FFFFFF

    

    --border-color: #dddddd;
    --border-secondary-button-lightmode: #FB8C00;

    

    --hover-button-lightmode: #F4511E;

    

    --radius-button: 8px;
    --radius-card: 10px;

    

    --shadow-sm: 0 2px 6px rgba(0, 0, 0, 0.25);
    --shadow-md: 0 4px 12px rgba(0, 0, 0, 0.12);

    

    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;

    

    --font-family-primary: "Lato", sans-serif;
    --font-family-secondary: "Montserrat", sans-serif;

    --font-size-xsm: 12px;
    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-md2: 18px;
    --font-size-lg: 20px;
    --font-size-xl: 28px;
    --font-size-xxl: 36px;

    

    --transition-default: 0.2s ease;
}