.template-card {
    margin-inline: 5%;

    padding: 15px 9px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;

    border-radius: 20px;

    border: 3px solid var(--border-secondary-button-lightmode);

    /* background-color: white; */
    background-image: url('../../../assets/backgrounds/bg7.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    cursor: pointer;

    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.template-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.template-card-animation {
    max-width: 70%;
}

.template-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;
}

.template-card-content h2 {
    font-size: var(--font-size-lg);
    line-height: 1.2;
    font-weight: 700;
    color: var(--text-primary-lightmode);
}

.template-card-content p {
    font-size: var(--font-size-md);
    color: #555555;
    margin-top: -8px;
    font-style: italic;
}