.stats-card {
    margin-inline: 25px;
    padding: 20px 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    border-radius: 20px;
    background:linear-gradient(120deg,#7BC67E,#A5D6A7);
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.stats-card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}

.stats-card-content h2 {
    font-size: var(--font-size-xl);
    line-height: 1.1;
    font-weight: 700;

    color: white;
}

.stats-card-content p {
    font-size: var(--font-size-md);
    font-weight: 500;
    color: white;
}

.stats-card-image {
    width: 107px;
    flex-shrink: 0;
}

.stats-card-image img {
    width: 100%;
    display: block;
    object-fit: contain;
}