.stats-card {
    margin-inline: 15px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    border-radius: 20px;

    background-image: url('../../../assets/backgrounds/bg5.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.28);
    overflow: hidden;
}

.stats-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    flex: 1;
}

.stats-card-content h2 {
    font-size: var(--font-size-lg);
    line-height: 1.1;
    font-weight: 700;

    color: white;
}

.stats-card-content p {
    font-size: var(--font-size-md);
    font-weight: 500;
    color: white;
}

.stats-card-content p span {
    font-weight: 800;
    color: rgb(182, 243, 198);
    font-size: var(--font-size-md2);
    letter-spacing: 0.5px;
    margin-right: 2px;
}

.stats-card-image {
    width: 85px;
    flex-shrink: 0;
}

.stats-card-image img {
    width: 100%;
    display: block;
    object-fit: contain;
}

@media (min-width: 1024px) {
    .stats-card {
        margin: 0;
        padding: 18px 24px;
        border-radius: 28px;
    }

    .stats-card-content h2 {
        font-size: calc(var(--font-size-lg) + 2px);
    }
}
