.navigation-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 24px 16px;
    background-color: var(--surface-primary-lightmode);
    box-shadow: var(--shadow-sm)
}

.navigation-header-back-button {
    display: flex;
    align-items: center;
    gap: 8px;

    width: fit-content;

    border: none;
    border-radius: 12px;

    padding: 10px 14px;

    background: var(--color-primary-gradient);

    color: white;

    font-size: 15px;
    font-weight: 600;

    cursor: pointer;

    transition: 0.2s;

    box-shadow: 0 4px 10px rgba(249, 115, 22, 0.25);
}

.navigation-header-back-button:hover {
    transform: translateY(-1px);

    box-shadow: 0 6px 14px rgba(249, 115, 22, 0.35);
}

.navigation-header-content {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.navigation-header-content h1 {
    font-size: var(--font-size-lg);
    color: var(--text-primary-lightmode);
}

.navigation-header-content p {
    font-size: var(--font-size-sm);
    color: var(--text-secondary-lightmode);
}

.navigation-header-children {
    display: flex;
    flex-direction: column;
    gap: 1px;
}