/*
    CSS básico, será alterado no futuro - Thiago
*/
.create-survey-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 15px;

    /* padding: var(--spacing-lg); */

    background-color: var(--background-lightmode);
}

.create-survey-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}