/*
    CSS básico, será alterado no futuro - Thiago
*/
.create-survey-page {
    min-height: 100vh;

    /* padding: var(--spacing-lg); */

    background-color: var(--background-lightmode);
}

.create-survey-header h1 {
    font-size: var(--font-size-xl);
    color: var(--text-primary-lightmode);
}

.create-survey-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}